.editor {
  margin-top: 20px;
  padding: 20px 40px;
  background-image: url(/paper_bg.jpg);
  background-color: #eee5ce;
  box-shadow: 1px 4px 14px #000;
  font-family: BookSanity;
  color: #000;
  border-radius: 2px;

}
