@media print {
	@page { 
		size: 794px 1124px; 
		margin: 0px; 
		visibility: hidden; 
	}
  header,
  .subnav {
    display: none;
  }
  main {
    overflow: unset;
    overflow-y: visible;
  }
  .wrapper {
    max-width: 100%;
  }
  .editor {
    box-shadow: none;
    margin-top: 0;
		width: 794px; 
		height: 1123px;
  }
}
